
    * {
      border: 2px solid black; /* 가이드 라인 */
      box-sizing: border-box;
    }
    
    .container2 {
      width: 1080px;
      margin: 0 auto; /* 화면 중앙에 배치 */
      margin-bottom: 80px; /* 아래 요소들과의 간격 -left, right */
    }
    .container2 .left {
      float: left;
      background-color: red;
      width: 740px;
      height: 428px;
    }
    .container2 .right {
      float: right;
      background-color: blue;
      width: 332px;
      height: 428px;
    }
    
    .container3 {
      width: 1080px;
      margin: 0 auto; /* 화면 중앙에 배치 */
      margin-bottom: 80px; /* 아래 요소들과의 간격 -left, right */
      
    }
    .container3 .left {
      float: left;
      background-color: violet;
      width: 740px;
      height: 428px;
    }
    .container3 .right {
      float: right;
      background-color: brown;
      width: 332px;
      height: 428px;
    }