@charset 'utf-8';

.wrap {
  width: 600px;

  /* height: 500px; */
  border: 10px solid black;
  margin: 100px auto;
}

/* 가상 선택자 - 인라인 요소 이므로 블록요소로 변경해줘야함 */
.wrap:after{
  content:''; /* 초록박스 아래 배치됨 */
  display: block;
  clear: both;
}


.left { /* wrap 생략가능 */
  width: 300px;
  height : 300px;
  background-color: lightskyblue;
  float: left;

}

.right {
  width: 300px;
  height : 300px;
  background-color: pink;
  float: right;
}

.right p {
  width: 100px;
  height : 100px;
  background-color: gray;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.bottom {
  width: 600px;
  height : 200px;
  background-color: lightgreen;
  float: left; 
  /* left라는 의미가 없이 그냥 float와야함 
  자리가 없어서 아래쪽으로 붙은 것
  */
}

/* 
요소 중에 하나라도 float요소가 존재하면
float 요소가 필요없어도 주어야 화면에 보임
*/

/*  absolute position
  자유로운 엘리먼트 배치가능 - 좌표값으로 배치가 가능함
  부모요소에 구애받지 않고 자유롭게 배치 가능
  CSS의 position 속성은 요소가 화면에 어떻게 배치되는가를 결정함
  기본값은 static이며, relative나 absolute, fixed 등으로 변경 가능
  position 속성을 static이 아닌 다른 값으로 설정했을 때
  position과 관련된 top, left, botto, right CSS속성이 있다.

  * absolute의 특징
  : 부모 요소에 구속되지 않고 독립된 배치 가능
  : 브라우저 화면 상에서 어디든 원하는 위치에 배치 가능
  : z-index속성을 같이 사용하면 부모 요소 위에 겹쳐서 배치하는 것도 가능함

  주의
  : 상위 요소중에 relative인 요소가 있다면 가장 가까운 요소의 내부에서 배치 가능함.
  */

