div {
  border: 10px solid black;
  display: inline-block; 
  width: 300px;
  height: 600px;
  background: white;
  color: white;
}

#two {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 20px;
  left: 20px;
  background: red;
}

#three{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 20px;
  left: 40px;
  background: blue;
}