a {
  text-decoration: none;
}
​
.page-header {
  padding: 30px 0px;
}
​
.board-list {
  margin: 20px 0px;
}


/* 모달창 */

.modal-title {
  color: #fff;
  background-color: #198754;
  margin : 4px;
}


/* ---------------------- */






